@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

*{
    font-family: "Didact Gothic", sans-serif;
}
header {
    width: 50vw;
    margin-top: 5rem;
    margin-left: 0;
    margin-right: 0;
    align-items: start;
}

body{
    height: 100vh;
    width: 100vw;
    background: radial-gradient(#9c9c9c 15%, #242424 85%) no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.profile{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4rem;
}
main div {
    background-color: #0E7A0D;
    color: white;
}

.container {
    margin: 0;
    padding: 0;
    display:grid;
    gap: 0.5rem;
}

.back-icon{
    display: inline-flex;
}

.back-icon:hover{
    cursor: pointer;
}

a {
    text-decoration: none;
}


li{
    list-style: none;
    text-decoration: none;
}
li a {
    list-style: none;
}


.list {
    color:#a7a7a7;
    text-decoration: none;
}

.list:hover {
    color:white;
    cursor: pointer;
}




.modal-container {
    position:fixed;
    background-color: rgba(0, 0, 0, 0.85);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.modal label {
    padding-bottom: 2rem;
}
.modal_structure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

    border-radius: 15px;
}

.modal_structure header{
    position: sticky;
    width: 100%;
    height: auto;
    color: white;
    background: #9D9FA2;
    /*top: 0;*/
    text-align: center;

    margin: 0;
}
.modal_structure main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.modal::-webkit-scrollbar{
    display:none;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;

}
#sidebar_menu.show{
    display:flex;
}


#portfolio-img {
    width: 10rem;
    height: 10rem;
    float: left;
    clip-path: circle(50%);
}

.close_btn_style{
    margin-right: 1rem;
    justify-self: end;
    border-radius: 50%;
    background-color: #d13438;
    color: #9a1a1f;
}

#sidebar_menu{
    position: fixed;
    background: rgba(36, 36, 36, 0.53);
    color: white;
    margin: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30vw;
    z-index: 999;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display:none;
    padding-top: 2rem;
    gap: 1rem;
}
.modal {
    width: 25%;
    height: 50%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width:none;
}


#sidebar_button:hover {
    cursor: pointer;
}
.web-icon{
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
.open_project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
}
.open_project:hover{
    cursor: pointer;
}

#link-back{
    display: flex;
    flex-direction: row;
    gap: 10rem;
}
div p{
    margin-top: 0;
    margin-bottom: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #divtwo{
        grid-column: span 2;
        grid-row: 2;
    }
    .container{
        grid-template-columns: 50% 50%;
        grid-template-rows: 33.33% 33.3% 33.33%;
        font-size: 1rem;
        height: 60vh;
        width: 75vw;
    }

    .top_menu{
        display: none;
    }
    .profile{
        justify-content: space-between;
    }
    header{
        margin-bottom: 0;
    }

    body {
        background: radial-gradient(#9c9c9c 5%, #242424 95%) no-repeat;
    }
    .web-icon{
        width: 5rem;
        height: 5rem;
    }
    #contact_display{
        height: 50vh;
        width: 75vw;
    }
    .modal{
        height: 85vh;
        width: 95vw;
        border-radius: 15px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #divtwo{
        grid-column: span 2;
        grid-row: 2;
}
    .container{
        grid-template-columns: 50% 50%;
        grid-template-rows: 33.33% 33.3% 33.33%;
        font-size: 1.5rem;
    }

    .top_menu{
        display: none;
    }
    .profile{
        justify-content: space-between;
    }
    #dropdown{
        display: flex;
    }
    header{
        margin-bottom: 3rem;
    }
    .container {
        height: 60vh;
        width: 75vw;
    }
    body {
        background: radial-gradient(#9c9c9c 5%, #242424 95%) no-repeat;
    }
    .web-icon{
        width: 8rem;
        height: 8rem;
    }
    .form_input{
        width: 15rem;
    }
    .modal{
        height: 85vh;
        width: 95vw;
        border-radius: 15px;
    }
    #contact_display{
        height: 50%;
        width: 50%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1100px) {
    #divtwo{
        grid-row: span 2;
        grid-column: span 1;
    }
    li{
        font-size: 2.5rem;
    }
    .container{
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 50% 50%;
    }

    .top_menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .profile{
        justify-content: flex-end;
    }
    #dropdown{
        display: none;
    }
    #sidebar_button{
        display: none;
    }
    .container{
        height: 50vh;
        width: 60vw;
    }
    .web-icon{
        width: 10rem;
        height: 10rem;
    }
    .modal {
        width: 25%;
        height: 45%;
    }
    .modal-container{
        height: 100vh;
        width: 100vw;
    }
    #contact_display {
        width: 20%;
        height: 30%;
}
}
