@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

*{
    font-family: "Didact Gothic", sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    background: radial-gradient(#9c9c9c 15%, #242424 85%) no-repeat;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}
header {
    grid-row: 1;
    grid-column: 2;
    height: auto;
    width: 50vw;
    margin-top: 6rem;
    margin-bottom: 3rem;
    align-items: start;
}
.profile{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5rem;
    gap: 1rem;
}
.profile img{
    height: 30px;
    width: 30px;
}
a {
    text-decoration: none;
}
/*a:visited {*/
/*    color: #0E7A0D;*/
/*}*/

.profile h1 {
    font-size: 1rem;
}
li{
    list-style: none;
    font-size: 2.5rem;
    text-decoration: none;
}
li a {
    list-style: none;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.list {
    color:#a7a7a7;
    text-decoration: none;
}

.list:hover {
    color:white;
    cursor: pointer;
}

main div {
    background-color: #0E7A0D;
    color: white;
}
#divtwo{
    grid-row: span 2;
}

.container {
    grid-row: 2;
    grid-column: 2;
    margin: 0;
    padding: 0;
    height: 40vh;
    width: 50vw;
    display:grid;
    gap: 0.5rem;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50%;
}

.modal-container {
    position:fixed;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}
.modal_contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#contact_content_left, #contact_content_right{
    margin-left: 5rem;
    margin-right: 5rem;
}


.modal {
    border-radius: 15px;
    width: 30%;
    height: 50%;
    background: #9D9FA2;
    overflow-y: auto;
    padding-top: 0;
    padding-bottom: 0;
    display:grid;
    grid-template-columns: 5% 90% 5%;
    -ms-overflow-style: none;
    scrollbar-width:none;
}
#contact_display {
    width: 30%;
    height: 30%;
}
.modal::-webkit-scrollbar{
    display:none;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;

}

#portfolio-img {
    width: 10rem;
    height: 10rem;
    float: right;
    clip-path: circle(50%);
}

.modal_structure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    grid-column: 2;
}
.close_btn_style{
    margin-right: 1rem;
    justify-self: end;
    border-radius: 50%;
    background-color: #d13438;
    color: #9a1a1f;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}