<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div class="profile">
            <h1><a class="list" href= "https://www.trueachievements.com/gamer/Bort+Sampson-555">Joel Huff</a></h1>
            <img src="../static/images/portfolio-image.png" alt="">
        </div>

        <nav>
            <ul>
                <li class="list" id="open_about">about</li>
                <li ><a class="list" href="https://github.com/joel-huff" target="_blank">github</a></li>
                <li><a class="list" href="https://docs.google.com/document/d/1H7-EzyMisMpSrfLRH83Yk_TLU0CnpQsS/edit" target="_blank">resume</a></li>
                <li class="list" id="open_contact">contact</li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <div id="divOne"><a href = "google.com">Joel's Game Store 🎮</a></div>
        <div id="divtwo">Project Two</div>
        <div id="divthree">Project Three</div>
        <div id="divFour">Project Four</div>
        <div id="divfive">Project Five</div>
    </main>
    <div class="modal-container" id = "about_modal_container">
        <div class="modal">
            <div id="about_modal">
                <div>
                    <h1>about me</h1>
                    <h2>I am an aspiring Full-Stack Software Engineer based in the San Francisco Bay Area</h2>
                    <p>I am an aspiring Full-Stack Developer</p>
                </div>
                <div>
                    <img id="portfolio-img" src="../static/images/portfolio-image.png" alt="">
                    <button id = "about_close">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-container" id= "contact_modal_container">
        <div class="modal">
            <div id="contact_content">
                <h1>Joel D. Huff</h1>
                <form id="form" action="/contact" method="post">
                    <div class="form-group">
                        <label for="name">Name: </label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="cname">Company: </label>
                        <input type="text" id="cname" name="cname">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="pnumber">Phone Number</label>
                        <input type="tel" id="pnumber" name="pnumber">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="message">Message: </label>
                        <textarea name="message" id="message" required></textarea>
                    </div>
                    <br>
                    <input type="submit">
                </form>
                <button id = "contact_close">Close</button>
            </div>
            <div id="contact_content_right">
                <p>Louie louie louie</p>
            </div>
        </div>
    </div>
    <script src="/static/script.js" charset="UTF-8"></script>
</body>
</html>